# Configuração de API Marvel
# Obtenha as suas chaves gratuitas em https://developer.marvel.com/
REACT_APP_MARVEL_PUBLIC_KEY=sua_chave_publica_marvel
REACT_APP_MARVEL_PRIVATE_KEY=sua_chave_privada_marvel
